
{{#each accounts as |account|}} {{log account}}
  <li class="account">
    <h4>{{account.lastName}}, {{account.firstName}}</h4>

    <div class="actions">
      {{#link-to 'accounts.detail' account}}
        <span>View details</span>
      {{/link-to}}

      <button {{action 'accountSignIn' account}}>Sign In</button>
    </div>
  </li>
{{/each}}
