
{{#each accounts as |account|}}
  <li class="account">
    <h4>{{account.name}}</h4>

    <div class="actions">
      {{#link-to 'accounts.detail' account}}
        <span>Link</span>
      {{/link-to}}

      <button {{action 'accountSignIn' account}}>Sign In</button>
    </div>
  </li>
{{/each}}
