
<div class="inner-w">
  {{link-to 'Home' 'application'}}

  {{#if largeScreen}}
    <span>Desktop</span>
  {{/if}}
</div>

<div class="inner-w">
  
  {{#fit-text minFontSize="60px" maxFontSize="120px"}}
    sakfdajs;fd
  {{/fit-text}}

</div>


