
<header>
  <h3>Contact</h3>
</header>

<main>
  <ul class="thing-list">
    <li class="thing">
      <label for="contact_email">
        <span class="label">Email address</span>
        {{input
          id="contact_email"
          value=order.emailAddress
          class="start-here"
          focus-out=(action (mut showEmailError) true)
        }}
        
        {{#if showEmailError}}
        <div class="error">
          {{v-get order 'emailAddress' 'message'}}
        </div>
        {{/if}}
      </label>
    </li>
    <li class="thing">
      {{forms/masked-input
        value=expirationDate
        placeholder='08/2020'
        model=order
      }}
    </li>
  </ul>
</main>

{{#if multi-step}}
  <footer>
    {{forms/next-button destination='checkout.multi-step.shipping-name'}}
  </footer>
{{/if}}
