
<form class="standard-form" onsubmit="return false">
  
  {{forms/contact-email-fields 
    order=order
  }}

  {{forms/shipping-name-fields 
    order=order
  }}

  {{forms/order-confirmation-fields 
    order=order
  }}

</form>
