
$white = #FFFFFF
$black = #000000
$color = #25ACC2 // note the = instead of : for stylus variable declaration
$highlight = red

$pad = 10px

html
  background: $black
  color: $white

body
  background: $color
  padding-top: $pad*6.5 // height of .site-header.outerHeight()

.page-section
  //
  .inner-w
    max-width: 1200px
    margin-right: auto
    margin-left: auto
    padding: $pad*.5

remove-list-styles()
  list-style: none
  margin: 0
  padding: 0

.account-list, .order-list
  remove-list-styles()
  .account
    &:not(:first-of-type)
      margin-top: $pad
    a
      color: $black

.ember-view
  border: 1px solid alpha($black, .2)
  border-radius: $pad*.5
  padding: $pad*.25
  &:not('.link')
    margin-bottom: $pad

.outlet, body > .ember-view
  border: 3px solid alpha($white, .5)
  border-radius: $pad*.5
  padding: $pad*.5

a
  display: block
  color: $highlight
  &:visited
    color: @color

em
  opacity: .5




.site-header
  position: fixed
  top: 0
  right: 0
  left: 0
  background: alpha($black, 0)
  color: $white
  transition: background .5s
  &.scrolled
    background: alpha(@background, 1)
  .inner-w
    display: flex
    flex-direction: row




.main-menu
  .item-list
    remove-list-styles()
    display: flex

.account-list
  .account
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  .actions
    display: flex
    flex-direct: row
    align-items: center
    

.focused-input
  display: inline-block

input[type='text']
  padding: $pad*.5 $pad


.order-row
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  .actions
    display: flex
    flex-direction: row
    align-items: center
    button, .link
      padding-left: $pad
    .link
      display: inline-block
