
<h3>/list</h3>

<ul class='order-list'>
  {{#each model as |order|}}
  <li class='order'>
    {{order-row order=order}} {{!-- note that this is not great on the eyes a=a --}}
  </li>
  {{/each}}
</ul>
