
<h3>/list</h3>

{{log 'm' model}}

<ul class='order-list'>
  {{#each officialOrders as |order|}}
  <li class='order'>
    {{order-row order=order}} {{!-- note that this is not great on the eyes a=a --}}
  </li>
  {{/each}}
</ul>
