
<h3>/list</h3>

<ul class='order-list'>
  {{#each ordersByDate as |order|}}
  <li class='order'>
    {{order-row order=order}} {{!-- note that this is not great on the eyes a=a but also making a new name up 4 times isn't great either --}}
  </li>
  {{/each}}
</ul>
