
<h3>/standard</h3>


<form 
  class="standard-form" 
  onsubmit="return false">
  
  {{forms/order-option-fields 
    order=order
    products=products
  }}

  {{#unless loggedIn}}

  {{forms/contact-email-fields 
    order=order
  }}

  {{forms/shipping-name-fields 
    order=order
  }}

  {{forms/order-confirmation-fields 
    order=order
  }}

  {{/unless}}

</form>
