
<h3>/standard</h3>

{{#with (changeset model (action "validate")) as |changeset|}}
  {{forms/full-form 
    changeset=changeset
    submit=(action "submit")
    rollback=(action "rollback")
  }}
{{/with}}
