
<h3>/create</h3>

<form {{action 'createAccount' model on='submit'}}>

  <label for="thing1">
  {{#focused-input}}
    {{input
      id="newFirstName"
      class="name focused" 
      value=model.firstName 
      placeholder="First name"
    }}
  {{/focused-input}}
  </label>

  <label for="thing2">
    {{input
      id="newLastName"
      class="name focused" 
      value=model.lastName 
      placeholder="Last name"
    }}
  </label>

  <button type='submit'>Create account</button>

</form>

