
<h3>/detail</h3>

<p>We need an end point to delete... add that in the mirage config.</p>

<p>Access the function from the model / on the route - and add in a transition to leave the page after deletion. ˇ</p>

<p>However... toggle between create and list... and you'll see list items being created... what gives?</p>

<h4>{{model.name}}</h4>

<ul class="detail-list">
  <li class="detail">
    <span>id: </span> {{model.id}}
  </li>
  <li>
    <span>slug: </span> {{model.slug}}
  </li>
</ul>

<p>Starts delete actions</p>

<button {{action 'deleteAccount' model}}>
  <span>Delete account</span>
</button>
