
<h3>/detail</h3>

<h4>{{model.name}}</h4>

<ul class="detail-list">
  <li class="detail">
    <span>id: </span> {{model.id}}
  </li>
  <li>
    <span>slug: </span> {{model.slug}}
  </li>
</ul>

<p>Starts delete actions</p>

<button {{action 'deleteAccount' model}}>
  <span>Delete account</span>
</button>
