
<h2>/accounts</h2>

{{#if loggedIn}}
<nav class="main-menu">
  <ul class="item-list">
    <li class="item">
      {{link-to 'Create an account' 'accounts.create' class="link"}}
    </li>
  </ul>
</nav>
{{else}}
  <p>Sign in to create accounts</p>
{{/if}}

<section>
  <div class="outlet accounts-outlet">{{outlet}}</div>
  {{!-- where sub-route templates will appear --}}
</section>
