
<p>Try and go to the /accounts/create route</p>

<p>You can't get there... can you...</p>

<p>That's because... there is the 'replaceWith' / transition set in the 'application' route. Any time that you enter the <em>application</em> route, it will transition to /accounts</p>

{{account-list accounts=model}}
