
<h2>/accounts</h2>

<p>...</p>

{{account-list accounts=model}}

{{link-to 'Create an account' 'accounts.create'}}

<section>
  <div class="outlet">{{outlet}}</div> {{!-- where sub-route templates will appear --}}
</section>
