
<h2>/accounts</h2>

<p>Create an index route. This would be a sub-route to 'application.'</p>

<p>Move the transitionTo - to that index...</p>

<p>This way, the transition will only happen - if the router resolves to application/index</p>

<p>(make sure there is an oulet in 'accounts.'</p>

<p>Note some ember template divisions / layout view stuff - in CSS</p>

{{account-list accounts=model}}


<section>
  <div class="outlet">{{outlet}}</div> {{!-- where sub-route templates will appear --}}
</section>