
<h2>/accounts</h2>

<p>This page is kinda long... and it's strange to see the account populate in the list... and - it's not great for small screen...</p>

<p>Move the account-list to the 'list' template instead</p>

<nav class="main-menu">
  <ul class="item-list">
    <li class="item">
      {{link-to 'Create an account' 'accounts.create' class="link"}}
    </li>
    <li class="item">
      {{link-to 'Account detail' 'accounts.detail' class="link"}}
    </li>
    <li class="item">
      {{link-to 'Account-list' 'accounts.list' class="link"}}
    </li>
  </ul>
</nav>

<section>
  <div class="outlet">{{outlet}}</div> {{!-- where sub-route templates will appear --}}
</section>
