
<h2>/accounts</h2>

<p>Check out the 'promise' style error handling and return values in /checkout.js.</p>

<p>Toggle the post route in the config to see an example returned error.</p>

{{account-list accounts=model}}

{{link-to 'Create an account' 'accounts.create'}}

<section>
  <div class="outlet">{{outlet}}</div> {{!-- where sub-route templates will appear --}}
</section>
