
<h2>/accounts</h2>

<nav class="main-menu">
  <ul class="item-list">
    <li class="item">
      {{link-to 'Create an account' 'accounts.create' class="link"}}
    </li>
  </ul>
</nav>

<section>
  <div class="outlet accounts-outlet">{{outlet}}</div>
  {{!-- where sub-route templates will appear --}}
</section>
