
<h2>/accounts</h2>

<p>Create a component to ensure that the input gets focused on route transition - or <em>actually</em> - on didInsertElement() hook for the component...</p>

{{account-list accounts=model}}

{{link-to 'Create an account' 'accounts.create'}}

<section>
  <div class="outlet">{{outlet}}</div> {{!-- where sub-route templates will appear --}}
</section>
