
<header class="page-section site-header">
<div class="inner-w">

  <h1>/application</h1>

  <nav class="main-menu">
    <ul class="item-list">
      <li class="item">
        {{link-to 'Account list' 'accounts.list' class="link"}}
      </li>
      <li class="item">
        {{link-to 'Order list' 'orders.list' class="link"}}
      </li>
    </ul>
  </nav>

  <p>Use confirm() to check before user deletion</p>
</div>
</header>



<section class="page-section">
<div class="inner-w">

  <p></p>

  <div class="outlet application-outlet">{{outlet}}</div>

</div>
</section>
