
<header class="page-section site-header">
<div class="inner-w">
  
  <h1>{{applicationName}}</h1>

</div>
</header>



<section class="page-section">
<div class="inner-w">

  <p>First off... I'm thinking about how some data could work.</p>

  <p>We'll need data models for 'account,' 'order,' and 'product.'</p>

  {{outlet}} {{!-- where sub-route templates will appear --}}

</div>
</section>
