

<h2>/product-detail</h2>


{{link-to 'Standard checkout' 'checkout.standard'}}

{{link-to 'Multi-step checkout' 'checkout.multi-step'}}


<div class="outlet product-detail-outlet">
  {{outlet}}
</div>
