

<h2>/product-detail</h2>

<p>(depending on /url or screen-size - buy buttons could lead to either of this places.</p>

{{link-to 'Standard checkout' 'checkout.standard'}}

{{link-to 'Multi-step checkout' 'checkout.multi-step'}}


{{!-- <div class="outlet product-detail-outlet">
  {{outlet}}
</div>
 --}}